# 1. Ficheiros compilados de C (Obrigatório)
*.o
*.out

# 2. Os executáveis do vosso projeto
logAnalyzer
gen_apache
gen_json
gen_syslog
gen_nginx
test_parsers
test_classifier

# 3. Os ficheiros de Log Gigantes (MUITO IMPORTANTE!)
datasets/apache/*.log
datasets/json_logs/*.json
datasets/syslog/*.log
datasets/nginx/*.log
*.txt

# 4. Ficheiros de entrega (para não irem para o GitHub por engano)
*.tar.gz
*.zip

# 5. Ficheiros de Sistema e Editores (VS Code e Mac)
.DS_Store
.vscode/
